#header{
  text-align: center;
  font-size: 35px;
  font-family: 'Lucida handwriting',sans-serif;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: beige;
  background-color: #516395;
  margin: 0;
  padding: 25px;
}
